<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Resolve SPA route conflict with /services static asset directory.
  RewriteRule ^services/?$ /index.html [L]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule . /index.html [L]
</IfModule>
